body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.veci{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}

.material-icons{
    transition: transform 1s;
}

.material-icons:hover{
    color: #ff9900;
    transform: scale(2) translateY(-5px);
}
.material-icons:hover + .manji{
    color:transparent;
}
.manji:hover{
    color:#ff9900;
}